/* 배너 시작 */
.banner{
    position: relative;
    height: auto;
    display:block;
    margin-top:2% !important;
    margin-bottom:2% !important;
}

.banner .slider{
    width:auto;
    height: auto;
    overflow:hidden;
    position:relative;
    width:100%;
    transition:all .3s;
    min-height:35vh;
    max-height:60vh;
}

.banner .slider .item{
    width:100%;
    height:100%;
    transition:all 1s;
    position:absolute;
    z-index:"0"
}

.banner .slider .item img{
    width:100%;
    height:100%;
}

.banner .options {
    width:100%;
    position:absolute;
    bottom:0;
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
}

.banner .options div{
    position:absolute;
    width:100%;
    top:-600%;
}

.banner .options div button{
    position:absolute;
}

.banner .options div .lbtn{
    left:0;
}

.banner .options div .rbtn{
    right:0;
}
.banner .options div button svg{
    color:white;
    font-size:35px;
}

.banner .options ul{
    display:inline-block;
    width:100%;
    text-align:center;
    margin:auto 0;
    padding:0;
}

.banner .options ul li{
    width:1%;
    height:1%;
    background-color:white;
    display:inline-block;
    padding:min(7px, 1%);
    border:1px solid black;
    border-radius:50%;
    margin-left:5px;
}
.banner .options ul li.active{
    background-color:#FF9933;
}

/* 배너 끝 */


/* 게시판 미리보기 시작 */
.previewList{
    width:100%;
    min-height:20vh;
    margin-top:3%;
    margin-bottom:2%;
    padding: 3% 5%;
}

.previewList .preview{
    width:100%;
    margin-right:10%;
}

.previewList .preview .commentCount{
    position: absolute;
    color:red;
    font-weight: bold;
    display:inline-block;
    width:10%;
}

.previewList .preview .title{
    width:100%;
    margin-bottom:3%;
    border-bottom:1px solid black;
}

.previewList .preview .title span{
    font-weight:bold;
    text-align: left;
    font-size:20px;
}
.previewList .preview .title a{
    font-size:13px;
    float:right;
    text-decoration:none;
}

.previewList .preview .contentList{
    width:100%;
    margin-right:10%;
}

.previewList .preview .contentList ul{
    padding:0 2%;
}

.previewList .preview .contentList ul li{
    list-style: none;
    border-bottom:1px solid gray;
    margin-bottom:1%;
    padding:0 2%;
}
.previewList .preview .contentList ul li div{
    display:inline-block;
}
.previewList .preview .contentList ul li div:nth-of-type(1){
    width:65%;
    z-index: 0;
    position: relative;
    display:inline-block;
    
}
.previewList .preview .contentList ul li div:nth-of-type(1) span:nth-of-type(1){
    display:inline-block;
    width:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.previewList .preview .contentList ul li div:nth-of-type(2){
    width:15%;
    text-align: right;
    font-size:13px;
    color:gray;
}
.previewList .preview .contentList ul li div:nth-of-type(3){
    width:20%;
    text-align: right;
    font-size:13px;
    color:black;
}

.previewList .preview .gallery .albumList .album{
    width:100%;
    max-height:30vh;
}

.previewList .preview .gallery .albumList .album .albumContent{
    width:100%;
    height:100%;
    text-align:center;
}

.previewList .preview .gallery .albumList .album .albumContent img{
    width:80%;
    height:70%;
    padding:5%;
    margin:0 10%;
}

.previewList .preview .gallery .albumList .album .albumContent .albumInfo{
    width:100%;
    max-height: 30%;
    padding:0 10%;
}

.previewList .preview .gallery .albumList .album .albumContent .albumInfo div:nth-of-type(1){
    width:100%;
    text-align: left;
    position: relative;
}

.previewList .preview .gallery .albumList .album .albumContent .albumInfo div:nth-of-type(1) span:nth-of-type(1){
    width:80%;
    display: inline-block;

    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.previewList .preview .gallery .albumList .album .albumContent .albumInfo div:nth-of-type(2){
    display:inline-block;
    font-size:13px;
    color:gray;
    text-align:left;
    width:40%;
}
.previewList .preview .gallery .albumList .album .albumContent .albumInfo div:nth-of-type(3){
    display:inline-block;
    font-size:13px;
    color:gray;
    text-align:right;
    width:60%;
}

/* 박스리스트 형식 게시판 시작 */

/* 박스리스트 형식 게시판 끝 */


/* 리스트 형식 게시판 시작 */

/* 리스트 형식 게시판 끝 */


/* 앨범 형식 게시판 시작 */

/* 앨범 형식 게시판 끝 */